 <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end %>
<section class="initial-card p-5 rounded">
  <h1 class="initial-title mb-3">Login</h1> 
  <%= form_tag "/login" do %>
    <div class="field mb-4 tag-text">
      <%= label_tag :email %>
      <%= email_field_tag :email %>
    </div>
    <div class="actions">
      <%= submit_tag "Login", class: "btn btn-primary mb-2" %>
    </div>
  <% end %>
  <%= button_to "Create Profile", new_user_path, method: :get, class: "btn btn-secondary" %>
  <%= button_to "Back", root_url, method: :get, class: "btn btn-secondary" %>
</section>
