 <div class='w-50 mx-auto text-center'>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end %>
</div>
<section class="p-5 w-25 mx-auto">
  <h1 class="mb-3">Login</h1> 
  <%= form_tag "/login" do %>
    <div class="mb-4">
      <div class='d-block'> <%= label_tag :email %> </div>
      <%= email_field_tag :email %>
    </div>
    <div class="actions">
      <%= submit_tag "Login" %>
    </div>
  <% end %>
  <%= button_to "Create User", new_user_path, method: :get, class:'mt-3' %>

</section>
