<div class='row'>
<div class="col-10">
<p id="notice"><%= notice %></p>
<h1 class='text-center'>Post your footbal predictions here </h1>
<div class='d-flex justify-content-center w-100'>
<%= render 'form', tweet: @tweet %>
</div>

<div class='d-flex align-items-center flex-column'>
    <div class='d-inline-flex flex-column w-50'>
    <% @tweets.each do |tweet| %>
      <div class='d-flex pb-5'>
       <img src="<%= tweet.author.photo %>" alt="profile-pic", class='profile-pic'> 
       <div class='px-3'>
        <span class='d-block'>
          <%= tweet.author.username %>
        </span>
        <%= tweet.text %>
        </div>
      </div>
    <% end %>
    </div>
</div>
</div>

<div class='col-2 right-partials-height'>
  <%= render 'tweets/right_side_tweet' %>
</div>
</div>

