<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <div>
    <%= form.label :email %>
  </div>
    
    <%= form.email_field :email %>
  </div>

  <div class='pb-3'>
  <div>
    <%= form.label :username %>
  </div>
    
    <%= form.text_field :username %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
