<div class = 'row'>
<div class = 'col-9 px-0'>
  <img src="<%= default_cover(@user.cover) %>" alt="user-cover", width=100%, height=400px>
  <h3 class='text-color-blue mx-4 mt-5'><%= @user.username %> predictions</h3>
  <div class='d-flex mx-4 mt-5 flex-column'>
    <div>
    <% @my_tweets.each do |tweet| %>
      <div class='d-flex pb-4'>
       <img src="<%= default_photo(tweet.author.photo) %>" alt="profile-pic", class='profile-pic'> 
       <div class='px-3'>
        <p class='author-name-p d-block mb-1'>
          <%= tweet.author.username %>
        </p>
        <p class='author-text-p '>
        <%= tweet.text %>
        </p>
        </div>
      </div>
    <% end %>
    </div>
</div>
  
</div>
<div class = 'col-3 px-5'>
<p id="notice"><%= notice %></p>
<% if !current(@user.id) %>
<% if follow_exist?(@user.id) %>
<div>
  <%= button_to "Unfollow", action: "unfollow" %>
</div>
<% else %>
<div>
  <%= button_to "Follow", action: "follow" %>
</div>
<% end %>
<% end %>




<p class='d-flex justify-content-center pt-4'>
  <img class='rounded-circle' src="<%= default_photo(@user.photo) %>" alt="prfile-pic", height=100, width=100> 
</p>

<p class='h5 text-center author-name-p'>
  <%= @user.username %>
</p>

<% if logged_in? %>
<div class='d-flex text-center justify-content-between'>
    <span class='text-white pt-3'>
       <p class='h4 text-color-light'><%= @user.followers.count %></p>
        <h6 class='text-color-grey'>Followers</h6>
    </span>
    <span class='text-white pt-3'>
        <p class='h4 text-color-light'><%= @user.followeds.count %></p>
        <h6 class='text-color-grey'>Following</h6>
    </span>
    <span class='text-white pt-3'>
        <p class='h4 text-color-light'><%= @user.tweets.count %></p>
        <h6 class='text-color-grey'>Predictions</h6>
    </span>
</div>
<% end %>


      <% if current(@user.id) %>     
<div class="d-flex flex-column my-auto">
            <%= form_for(:user, method: :put) do |u| %>
              <%= u.label :photo, "Change Photo", class:'text-color-light pt-2' %>
              <%= u.file_field :photo, class:'bg-blue', onchange: "this.form.submit();" %>
              <% end %>
              <%= form_for(:user, method: :put) do |u| %>
              <%= u.label :cover, "Change Cover", class:'text-color-light pt-2'%>
              <%= u.file_field :cover, class:'text-wrap', onchange: "this.form.submit();" %>
            <% end %>
        </div>
          <% end %>

  <h4 class='text-color-light mt-4 mx-3'>Followers</h4>
    <% @followers.each do |user| %>
        <div class='d-flex align-items-center w-100 justify-content-start pt-2 mx-4'>
        <img src="<%= default_photo(user.photo) %>" alt="profile-pic" class='profile-pic rounded-circle'>
        <span class='mx-2 d-flex flex-column author-name-p'>
            <%= user.username %>
              <%= link_to 'See profile', user_path(user.id) %>
        </span>
      </div>
    <% end %>
  <br>
  <h4 class='text-color-light mt-2 mx-3'>Following</h4>
    <% @followeds.each do |user| %>
        <div class='d-flex align-items-center w-100 justify-content-start pt-2 mx-4'>
        <img src="<%= default_photo(user.photo) %>" alt="profile-pic" class='profile-pic rounded-circle'>
        <span class='mx-2 d-flex flex-column author-name-p'>
            <%= user.username %>
              <%= link_to 'See profile', user_path(user.id) %>
        </span>
      </div>
    <% end %>
</div>
</div>
