<!DOCTYPE html>
<html>
  <head>
    <title>TwitterRedesign</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  </head>

  <body>
    <% if logged_in? %>
    <header class='row'>
    <div class='col-2 left-partial-top flex-column'>
      <%= render 'layouts/leftside' %>
    </div>
    <div class='col-10'>
      <%= render 'layouts/navbar' %>
    </div>
    </header>
    <div class='row'>
    <div class='col-2 left_partial_main'>
        <%= render 'layouts/left_partial_main' %>
    </div>
    
    <% end %>
    
    <div class='col-10'>
    <%= yield %>
    </div>
    </div>
  </body>
</html>
